@charset "utf-8";
/* CSS Document */
body{ 
   font-family: 'Roboto', sans-serif;
   padding-top:100px;
   background-color:#f5f7f9;
}

/* Main Navigation Bar */
.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}
.top_header .navbar-inverse{ 
    background-color:rgba(57,98,155 , 0.95 );
	border-color:transparent;
}
.top_header .navbar-nav{ 
    float:right;
    
}
.top_header .navbar-inverse .navbar-nav > li > a{ 
   color:#fff;
   font-weight:600;
}
.header.dashboard_watm .navbar-inverse{ 
   background-color:transparent;
   border:none;
}
.header.dashboard_watm .navbar{ 
   margin-bottom:0px;
}
.header.dashboard_watm .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus{
   background-color: #636363;
   border-bottom:5px solid rgba(57,98,155 , 0.95 );
}


/* End Main Navigation Bar */
/* Dashboard Navigation */
.header{ 
   background-color:#727272;
}
.dashboard_watm .navbar-nav > li > a{ 
   color:#fff;
   font-weight:600;
}
.dashboard_watm .navbar-nav > li > a:focus{ 
   color:#fff;
   font-weight:600;
}
.dashboard_watm .navbar-nav > li:focus{ 
   background-color:#ddd;
   font-weight:600;
}
.dashboard_watm .nav-custom .active{ 
   border-bottom:4px solid #385f95;
}

.user_watm{ 
margin-top:20px;
margin-bottom:10px;
}
.search{ 
   padding: 6px 15px 6px 30px;
margin: 3px;
background: url('../images/search.png') no-repeat 8px 6px;
background-position:right;
}
.user_watm .btn{ 
background-color: #727272;
border-color: #727272;
color: #fff;
border-radius: 6px;
}
/*  END DASHBOARD NAVIGATION */

/* CUSTOMER PAGE */
.customer-tbl-content .table-heading h2{
	font-size:25px;
}
.customer-tbl-content .table-heading span{
	color:#727272;
}
.customer-tbl-content .customer-table .table-bordered{ 
    border:none;
}
.customer-tbl-content .customer-table .table > tbody{ 
    background-color:#fff;
}
.customer-tbl-content .customer-table .table-bordered > tbody{ 
    border: 1px solid #ddd;

}
.customer-tbl-content .customer-table .table-bordered > tbody > tr > td{ 
    border-bottom: 1px solid #ddd;
    border: 1px solid #ddd;
}

.customer-tbl-content .customer-table .table-bordered > thead > tr > td{ 
    border-bottom: 1px solid #ddd;
}
.customer-tbl-content .customer-table .table > thead > tr > td{ 
	color:#727272;
	font-weight:600;
}
.customer-tbl-content .customer-table .table-bordered > thead > tr > td{ 
    border:none;
}
.customer-tbl-content .customer-table .table > tbody > tr > td{ 
   vertical-align:middle;
}
.customer-tbl-content .customer-table .table > tbody > tr > td span{ 
   padding:20px;
}
.customer-tbl-content .customer-table .table > tbody > tr > td i{ 
  color:#727272;
  text-align:center;
  font-size:18px;
}
/*  END CUSTOMER PAGE */

/*  TRANSACTION PAGE */

.transaction-tbl-content .table-heading h2{
	font-size:25px;
}
.transaction-tbl-content .table-heading span{
	color:#727272;
}
.transaction-tbl-content .transaction-table .table-bordered{ 
    border:none;
}
.transaction-tbl-content .transaction-table .table > tbody{ 
    background-color:#fff;
}
.transaction-tbl-content .transaction-table .table-bordered > tbody{ 
    border: 1px solid #ddd;

}
.transaction-tbl-content .transaction-table .table-bordered > tbody > tr > td{ 
    border-bottom: 1px solid #ddd;
    border: 1px solid #ddd;
}

.transaction-tbl-content .transaction-table .table-bordered > thead > tr > td{ 
    border-bottom: 1px solid #ddd;
}
.transaction-tbl-content .transaction-table .table > thead > tr > td{ 
	color:#fff;
	font-weight:600;
}
.transaction-tbl-content .transaction-table .table-bordered > thead > tr > td{ 
    border:none;
}
.transaction-tbl-content .transaction-table .table > tbody > tr > td{ 
   vertical-align:middle;
   text-align:center;
}
.transaction-tbl-content .transaction-table .table > tbody > tr > td span{ 
   padding:20px;
}
.transaction-tbl-content .transaction-table .table > tbody > tr > td i{ 
  color:#727272;
  text-align:center;
  font-size:18px;
}
.transaction-tbl-content .transaction-table .table > thead{
   background-color:#8c8c8c;
}



/*  END TRANSACTION PAGE */




/*  FORM TOP */
.wrapper_popup_water_atm{
	   width: 480px;
    margin-left: auto;
    margin-right: auto;
	}
.water_atm_popup .water_atm_popup_header .nav-tabs{
	  border:none;
	}
.water_atm_popup .water_atm_popup_header{
	  background-color:#375e94;
	}
	.water_atm_popup .water_atm_popup_header a{ 
	  color:#fff;
	}
.water_atm_popup .water_atm_popup_header .nav-tabs > li{ 
      padding: 0px 10px;
}
.modal_wrapper_water_atm .modal-body{
	      padding: 92px;
	}
.water_atm_popup .water_atm_popup_body legend{ 
	   border-bottom: none;
	   color:#375e94;
	   text-align:center;
	}
.water_atm_popup .water_atm_popup_body{
	 background-color: #f5f7f9;
	}
.water_atm_popup .water_atm_popup_body input.user_watm{
	   background-image: url(../images/user_form_watm-2.png);
       background-position: 7px 7px;
       background-repeat: no-repeat;
	   margin:20px 0px; 
	   border: none;
	   width:100%;
	   border-bottom:1px solid #ddd;
	   background-color: #f5f7f9;
	   padding: 10px 66px;
	}
	.water_atm_popup .water_atm_popup_body input.pwd_watm{
	   background-image: url(../images/water_atm_form_pwd.png);
       background-position: 7px 7px;
       background-repeat: no-repeat;
	   margin:20px 0px; 
	   border: none;
	   width:100%;
	   border-bottom:1px solid #ddd;
	   background-color: #f5f7f9;
	   padding: 10px 66px;
	}
.water_atm_popup .water_atm_popup_body .water_atm_popup_container{
	   padding:45px; 
	}
.water_atm_popup .water_atm_popup_header .nav-tabs > li.active > a{
	   color:#fff;
	   background-color:inherit;
	   border-bottom:4px solid #5583ff;
	   border-top:0px; 
	   border-left:0px; 
	   border-right:0px; 
	}
.water_atm_popup .water_atm_popup_body .btn-success{
	   background-color: #375e94;
       text-align: center;
       padding-left: 55px;
       padding-top: 5px;
       padding-bottom: 5px;
       padding-right: 25px;
       border-radius: 30px;
       border: none;
       margin-top: 20px;
	}
	.water_atm_popup .water_atm_popup_body .controls{ 
	   text-align:center;
	}
	.wrapper_popup_water_atm .modal-body{ 
	   padding: 50px;
	}
	/* END FORM TOP */
	
	@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}
@media(max-width:770px){ 
	.top_header .navbar-inverse{ 
	   padding:20px 0px;
	}
	}
	@media(max-width:770px){ 
	.header{ 
	   padding:30px 0px;
	}
	.top_header .navbar-inverse{ 
	   padding:20px 0px;
	}
	}
@media(max-width:645px){ 
	.wrapper_popup_water_atm{
		 width:100%;
		}
	}
	